.ace-tool/
.claude
.logs
.pids
.serena
.uv-cache
.ruff_cache
.vscode
.env
.kiro
**/__pycache__/
.shared
node_modules
.playwright-mcp
dist
static
*.db
*.timestamp_*
playwright-report/
test-results/
CLAUDE.md
.openspec
openspec
*.sh